# Игнорировать входные и выходные CSV-файлы
input_data/
output_data/
*.csv

# Кеши и временные файлы
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.swp

# IDE-файлы
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Системные файлы
.DS_Store
Thumbs.db
